<html>
<head></head>
<style>
     
   h1, h2, h3, h4, h5{
     
      margin:0;
     
     }


h4 {
       font-family: cursive;  
    }  

ul.c{
   
    list-style-type:square;
    }
</style>




<body>

<div style="max-width:600px; margin:0px auto; padding:50px;"> 
   <h1 style="padding-bottom:8%;">證照與證書</h1>
    
   <h3>證照</h3>
    <ul class="c">
   <li><h4>Microsft Office Specialist 2010 Master </h4></li>
    <li><h4>Security+™ Certified Professional</h4></li>
    <li><h4>Release ERP Planner of Enterprise Resource Plannin</h4></li> 
   </ul>

   <h3>證書</h3>
    <ul>
    <li><h4>資安人才培訓課程為期360小時，結業證明書</h4></li>
    </ul>
</div>
</body>
</html>

