<html>
<head></head>
<style>

h1,h2,h3,h4,h5{
  margin=0;
}

h4 {
  font-family：cursive;
}

ul.c {
 list-style-type:square;
}

table, th, td{
     border:1px solid black;
}

th{
      <li><a href="/view/license.html" target="iframe_a">證照</a></li>
   width:110px;
}
th, td{
    padding:5px;
    text-align:left;
}
  

</style>
<body>
<div style="max-width:625px; margin:0px auto; padding:50px;"> 
 <h1 style="padding-bottom:8%;">專案經歷</h1>
  
 
   
 <h3>財團法人資訊工業策進會（資安所）2015.07~2018.05 </h3>
 <ul class="c">
 <li><h4>開發相關經歷</h4></li>

   <ul>
       <li style="font-weight:bold;">資安所-軟檢組官網開發製作</li>
       <p>遵循軟體開發生命週期（SDLC）,ISO29119國際測試規範</p>
 
     <table>
     <tr>
      <th>產出文件：</th>
      <td>體需求規格書SRS、軟體測試計畫書STP、軟體設計規格書SDD、>    軟體測試設計規劃書STD、軟體測試報告書STR</td>
     </tr>
     <tr>
     <th>開發作業：</th>
     <td> C#、HTML&CSS、MSSQL、Visual Studio ，前後端製作</td>
     </tr>

     <tr>
     <th>測試作業：</th>
     <td>測試個案撰寫、功能測試執行、開bug、安全測試工具弱點掃描、彙整報告並分析</td> 
   </table>    
  
      
</ul>


<li><h4>測試相關經歷</h4></li>

  <ul>
       <p>根據不同專案執行不同作業，以下分類：</p>
   
    <table>
     <tr>
     <th>參與專案名稱:</th>
     <td>ASUS行動App與無線硬碟測試案、智慧觀光web測試案、車載平台App產品驗測專案、Aecr測試服
    務案、組內C-test web測試案</td>
    </tr>
     <tr>
     <th>執行工作：</th>
     <td>執行測試個案撰寫、功能測試執行、開bug、安全測試工具弱點掃描、彙整報告</td>
   </tr>
  </table>


    <table>
       <tr>
       <th>參與專案名稱:</th>
       <td>會內企劃處官網、產推處產創平台、產推處智慧電子學院、電子化服務組網站、行政支援與專案管理系統、雲鼎弱點掃描服務專案</td>
      </tr>
       <tr>
       <th>執行工作：</th>
       <td>執行安全測試工具弱點掃描、彙整報告並分析</td>
     </tr>
    </table>
 
     
   <table>
       <tr>
       <th>參與專案名稱:</th>
       <td>Swift系統及終端資訊安全檢測(至農業金庫、中國銀行、三菱銀行)</td>
      </tr>
      <tr>
       <th>執行工作：</th>
       <td>測試執行（資安檢測表、MBSA安全檢測、密碼複雜度檢測）,彙整報告並分析</td>
     </tr>
    </table>  



 <table>
       <tr>
       <th>參與專案名稱:</th>
       <td>農業金庫盤點案 (會內機密資料掃描系統)</td>
      </tr>
       <tr>
       <th>執行工作：</th>
       <td>測試執行（下載Agent執行檔執行掃描電腦全部資料檔，查看機密資訊安全檢測報告）</td>
     </tr>
    </table>

 
 </ul>
 
 <h1>其他經歷</h1>
  
   <ul>
   <li>協助軟體品質與App資安研討會舉辦事宜</li>
   <li>帶領下一期實習生協助專案並與組內組長（業師）至中國科大擔任課程助教</li>
   <li>參與會內與經濟部工業局舉辦之資安人才培訓課程為期360小時，並取得結業證明書</li>
  </ul>
  
</div>
</body>
</html>


